.question-component {
    .question {
        &__answers {
            list-style: none;
            padding-left: 0;
            &Answer {
                
                &--selected {
                    span {
                        border: 1px dashed #ddd;
                    }
                }
            }
        }
    }
}